@using MvcEFDemo.Models;
@model SysUser
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <dl>
        <dt>@Html.DisplayNameFor(mo => mo.UserName)</dt>
        <dd>@Html.DisplayFor(mo => mo.UserName)</dd>

        <dt>@Html.DisplayNameFor(mo => mo.Email)</dt>
        <dd>@Html.DisplayFor(mo => mo.Email)</dd>

        <dt>@Html.DisplayNameFor(mo => mo.SysUserRoles)</dt>
        <dd>
            <table>
                <tr>
                    <th>RoleName</th>
                    <th>RoleDesc</th>
                </tr>
                @foreach (var item in Model.SysUserRoles)
                {
                    <tr>
                        <td>@Html.DisplayFor(mo=>mo.UserName)</td>
                        <td>@Html.DisplayFor(mo => mo.Email)</td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>