@using MvcEFDemo.Models;
@model SysUser
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div>
    <h2>Edit</h2>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ID)
        <div>
            @Html.LabelFor(model => model.UserName)
            @Html.EditorFor(model => model.UserName)
        </div>
        <div>
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
        </div>
        <div>
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password)
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    }

    <div>@Html.ActionLink("Back to List", "Index")</div>
</div>