@using System.Collections.Generic
@using System.Web.Mvc
@using PagedList.Mvc
@using PagedList
@using MvcEFDemo.Models
@*@model IEnumerable<SysUser>*@
@model PagedList<SysUser>
@*@model SysUser*@
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    //var pageList = new PagedList<SysUser>();
}
<div>

    <p>@Html.ActionLink("Create New", "Create")</p>
    @using (Html.BeginForm("Index", "Account", FormMethod.Get))
    {
        <p>
            Find By Name:@Html.TextBox("SearchStr", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }
    <table>
        <tr>
            <th>
                @*@Html.DisplayNameFor(mo => mo.UserName)*@
                UserName
                @Html.ActionLink("UserName", "Index", new { sortOrder = ViewBag.SortKey, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @*@Html.DisplayNameFor(mo => mo.Email)*@
                Email
            </th>
            <th>Operate</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(mo => item.UserName)</td>
                <td>@Html.DisplayFor(mo => item.Email)</td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>

    <br />
    <div style="text-align:left;">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>

</div>