@using System.Collections.Generic
@using MvcEFDemo.Models
@model IEnumerable<SysUser>
@*@model SysUser*@
<div>


    <div>
        <h1>通过@@Html.Partial使用</h1>
        @Html.Partial("~/Views/Shared/_PartialPageWidget.cshtml")
        <h1>通过@@Html.RenderPartial使用</h1>
        @{
            Html.RenderPartial("~/Views/Shared/_PartialPageWidget.cshtml");
        }
    </div>

    <p>@Html.ActionLink("Create New", "Create")</p>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(mo => mo.UserName)</th>
            <th>@Html.DisplayNameFor(mo => mo.Email)</th>
            <th>Operate</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(mo => item.UserName)</td>
                <td>@Html.DisplayFor(mo => item.Email)</td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>


</div>